In [2]:
import pandas as pd
import numpy as np
import os
import glob
import csv

In [15]:
df = pd.read_csv("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/list_count.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106577 entries, 0 to 106576
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0.2   106577 non-null  int64
 1   Unnamed: 0.1   106577 non-null  int64
 2   Unnamed: 0     106577 non-null  int64
 3   index          106577 non-null  int64
 4   No             106577 non-null  int64
 5   name           106577 non-null  object
 6   address        106577 non-null  object
 7   大分類            106577 non-null  object
 8   小分類            106577 non-null  object
 9   coordinate     106568 non-null  object
 10  latitude       106568 non-null  float64
 11  longitude      106568 non-null  float64
 12  search         106577 non-null  object
 13  num_ng_market  106577 non-null  int64
 14  num_td_market  106577 non-null  int64
 15  num_hospital   106577 non-null  int64
 16  num_school     106577 non-null  int64
 17  num_mrt        106577 non-null  int64
 18  num_conv_s     106577 non-null  int64
 19  num_office     106577 non-null  int64
dtypes: float64(2), int64(12), object(6)
memory usage: 16.3+ MB

In [16]:
df1 = df.drop_duplicates(subset='大分類')
list = df1["大分類"]
list

0          台式
9          點心
16         早餐
34         異國
53         速食
96     酒吧&餐酒館
111       飲料店
116      咖啡簡餐
Name: 大分類, dtype: object

In [17]:
# 去掉經緯度中的空值
df = df.dropna(subset=['latitude'])
df.info()
df.to_csv('restaurant.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106568 entries, 0 to 106576
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0.2   106568 non-null  int64
 1   Unnamed: 0.1   106568 non-null  int64
 2   Unnamed: 0     106568 non-null  int64
 3   index          106568 non-null  int64
 4   No             106568 non-null  int64
 5   name           106568 non-null  object
 6   address        106568 non-null  object
 7   大分類            106568 non-null  object
 8   小分類            106568 non-null  object
 9   coordinate     106568 non-null  object
 10  latitude       106568 non-null  float64
 11  longitude      106568 non-null  float64
 12  search         106568 non-null  object
 13  num_ng_market  106568 non-null  int64
 14  num_td_market  106568 non-null  int64
 15  num_hospital   106568 non-null  int64
 16  num_school     106568 non-null  int64
 17  num_mrt        106568 non-null  int64
 18  num_conv_s     106568 non-null  int64
 19  num_office     106568 non-null  int64
dtypes: float64(2), int64(12), object(6)
memory usage: 17.1+ MB

In [28]:
# 篩選條件
# hospital_df = df.loc[df["大分類"] == "醫院", ["longitude" ,"latitude"]]
# hospital_df.to_csv('hospital.csv', index=False)

In [12]:
df = df[["latitude", "longitude"]]
df

         latitude   longitude
0       25.064421  121.557172
1       25.068961  121.468161
2       24.972578  121.059062
3       24.987634  121.439831
4       25.036867  121.491884
...           ...         ...
106572  24.858440  120.831781
106573  25.066021  121.627292
106574  25.005628  121.511906
106575  25.041610  121.518233
106576  25.056001  121.605471

[106568 rows x 2 columns]

## 合併全部

In [16]:
df_mrt = pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_mrt.xlsx")
df_hospital = pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_hospital.xlsx")
df_conv_s =  pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_conv_s.xlsx")
df_ng_market =  pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_ng_market.xlsx")
df_office =  pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_office.xlsx")
df_school =  pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_school.xlsx")
df_store =  pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_store.xlsx")
df_td_market =  pd.read_excel("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/df_td_market.xlsx")
# df_restaurant =  pd.read_csv("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/restaurant.csv")

In [17]:
df1 = pd.concat([df_mrt, df_hospital, df_conv_s, df_ng_market, df_office, df_school, df_store, df_td_market], ignore_index=True)
df1.to_csv('全部.csv', index=False)

In [18]:
df1.head(20)

,Unnamed: 0,index,No,name,name(web),address,大分類,小分類,coordinate,latitude,longitude,COUNTYNAME
0,0,0,mrt-BR01,捷運-動物園,捷運-動物園,116016臺北市文山區新光路2段32號,捷運站,捷運站,"(24.9982722,121.579517)",24.998272,121.579517,臺北市
1,1,1,mrt-BR02,捷運-木柵,捷運-木柵,116027臺北市文山區木柵路4段135號,捷運站,捷運站,"(24.99824,121.573145)",24.998240,121.573145,臺北市
2,2,2,mrt-BR03,捷運-萬芳社區,捷運-萬芳社區,116027臺北市文山區萬芳路60號,捷運站,捷運站,"(24.998585,121.568102)",24.998585,121.568102,臺北市
3,3,3,mrt-BR04,捷運-萬芳醫院,捷運-萬芳醫院,116081臺北市文山區興隆路3段113號,捷運站,捷運站,"(24.9994093,121.5580505)",24.999409,121.558050,臺北市
4,4,4,mrt-BR05,捷運-辛亥,捷運-辛亥,116081臺北市文山區辛亥路4段128號,捷運站,捷運站,"(25.0055191,121.5570925)",25.005519,121.557092,臺北市
5,5,5,mrt-BR06,捷運-麟光,捷運-麟光,106043臺北市大安區和平東路3段410號,捷運站,捷運站,"(25.01851,121.5588237)",25.018510,121.558824,臺北市
6,6,6,mrt-BR07,捷運-六張犁,捷運-六張犁,106039臺北市大安區和平東路3段168號,捷運站,捷運站,"(25.0238086,121.5531523)",25.023809,121.553152,臺北市
7,7,7,mrt-BR08,捷運-科技大樓,捷運-科技大樓,106101臺北市大安區復興南路2段235號,捷運站,捷運站,"(25.0261179,121.543542)",25.026118,121.543542,臺北市
8,8,8,mrt-BR10,捷運-忠孝復興(文湖線),捷運-忠孝復興(文湖線),106084臺北市大安區忠孝東路3段302號,捷運站,捷運站,"(25.0416216,121.5437808)",25.041622,121.543781,臺北市
9,9,9,mrt-BR10,捷運-忠孝復興(板南線),捷運-忠孝復興(文湖線),"106071臺北市大安區忠孝東路4段47號""",捷運站,捷運站,"(25.0416216,121.5437808)",25.041622,121.543781,臺北市
10,10,10,mrt-BR11,捷運-南京復興,捷運-南京復興,105020臺北市松山區南京東路3段253號,捷運站,捷運站,"(25.0520785,121.544009)",25.052079,121.544009,臺北市
11,11,11,mrt-BR12,捷運-中山國中,捷運-中山國中,104079臺北市中山區復興北路376號,捷運站,捷運站,"(25.06078,121.5442076)",25.060780,121.544208,臺北市
12,12,12,mrt-BR13,捷運-松山機場,捷運-松山機場,105008臺北市松山區敦化北路338號,捷運站,捷運站,"(25.0633862,121.551738)",25.063386,121.551738,臺北市
13,13,13,mrt-BR14,捷運-大直,捷運-大直,104044臺北市中山區北安路534之1號,捷運站,捷運站,"(25.0795721,121.5469934)",25.079572,121.546993,臺北市
14,14,14,mrt-BR15,捷運-劍南路,捷運-劍南路,104051臺北市中山區北安路798號,捷運站,捷運站,"(25.084863,121.5555961)",25.084863,121.555596,臺北市
15,15,15,mrt-BR16,捷運-西湖,捷運-西湖,114066臺北市內湖區內湖路1段256號,捷運站,捷運站,"(25.0821512,121.5672853)",25.082151,121.567285,臺北市
16,16,16,mrt-BR17,捷運-港墘,捷運-港墘,114004臺北市內湖區內湖路1段663號,捷運站,捷運站,"(25.0800546,121.5752003)",25.080055,121.575200,臺北市
17,17,17,mrt-BR18,捷運-文德,捷運-文德,114053臺北市內湖區文德路214號,捷運站,捷運站,"(25.0785513,121.5849503)",25.078551,121.584950,臺北市
18,18,18,mrt-BR19,捷運-內湖,捷運-內湖,114049臺北市內湖區成功路4段186號,捷運站,捷運站,"(25.0835589,121.5942486)",25.083559,121.594249,臺北市
19,19,19,mrt-BR20,捷運-大湖公園,捷運-大湖公園,114041臺北市內湖區成功路5段11號,捷運站,捷運站,"(25.0825351,121.603164)",25.082535,121.603164,臺北市

In [19]:
df_restaurant =  pd.read_csv("C:/Users/student/Desktop/網頁模板/startbootstrap-agency-gh-pages/static/data/restaurant.csv")
df_restaurant.head(10)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,No,name,address,大分類,小分類,coordinate,latitude,longitude,search,num_ng_market,num_td_market,num_hospital,num_school,num_mrt,num_conv_s,num_office
0,0,0,0,0,291300,無名臭豆腐,撫遠街379巷1號,台式,台式-臭豆腐,"(25.0644213,121.5571723)",25.064421,121.557172,無名臭豆腐 撫遠街379巷1號,0,0,0,2,0,3,6
1,1,1,1,1,192845,無名臭豆腐 麵線,頂崁街247號,台式,台式-臭豆腐,"(25.0689613,121.4681609)",25.068961,121.468161,無名臭豆腐 麵線 頂崁街247號,0,0,0,3,0,17,5
2,2,2,2,2,189130,無名臭豆腐小吃店,中華路166號,台式,台式-臭豆腐,"(24.9725784,121.0590622)",24.972578,121.059062,無名臭豆腐小吃店 中華路166號,0,0,0,0,0,0,0
3,3,3,3,3,267765,無名-高CP好吃炒飯,裕生路9號,台式,台式,"(24.987634,121.4398311)",24.987634,121.439831,無名-高CP好吃炒飯 裕生路9號,0,1,0,1,1,22,6
4,4,4,4,4,28516,無名高麗菜飯 菜頭排骨湯,西昌街247號,台式,台式,"(25.036867,121.4918842)",25.036867,121.491884,無名高麗菜飯 菜頭排骨湯 西昌街247號,5,1,0,3,1,29,40
5,5,5,5,5,328550,無名乾麵 - 公嬤麵,知行路326號,台式,台式-麵店,"(25.1227391,121.4583703)",25.122739,121.458370,無名乾麵 - 公嬤麵 知行路326號,0,0,0,3,1,3,10
6,6,6,6,6,298106,無名堂媽媽味道小餐館,和平西路三段189號,台式,台式,"(25.0354545,121.4891504)",25.035455,121.489150,無名堂媽媽味道小餐館 和平西路三段189號,5,1,0,1,0,35,33
7,7,7,7,7,58476,無名排骨,自強街121號,台式,台式,"(25.111004,121.5069002)",25.111004,121.506900,無名排骨 自強街121號,0,0,0,1,2,9,20
8,8,8,8,8,184512,無名排骨酥麵,民生街186號2號樓 43-47號,台式,台式,"(24.9349555,121.3622378)",24.934956,121.362238,無名排骨酥麵 民生街186號2號樓 43-47號,0,1,0,3,0,5,29
9,9,9,9,9,24752,無名排隊手工地瓜球芋頭球,臨江街84號,點心,點心-地瓜球,"(25.0298619,121.5466084)",25.029862,121.546608,無名排隊手工地瓜球芋頭球 臨江街84號,1,2,0,4,1,21,68

## 資料處理

In [39]:
# 使用 apply() 方法和 lambda 函式
# 捷運站名原本都有"捷運-"，如:"捷運-板橋站"，我想要刪掉該欄位裡面所有的"捷運-"，留下"板橋站"
df_mrt['name'] = df['name'].apply(lambda x: x.replace('捷運-', ''))

# 指定某個欄位，並取消dataframe轉換成數值型態
lat = df_mrt.loc[df_mrt['name'] == "象山", ["latitude"]]
lat = lat['latitude'].values[0]
lat

25.0328146

In [28]:
df_mrt.to_csv('df_mrt.csv', index=False)

## 練習

In [24]:
class_list = ['Michael', 'Bob', 'Tracy']
print ('class have', len(class_list), 'students', end='.\n')
print ('The 3rd student in class is', class_list[2])

class have 3 students.
The 3rd student in class is Tracy

In [26]:
# 往 class_list 中插入物件
class_list.append('Paul')
# 從 class_list 中刪除一個專案
del class_list[0]

In [28]:
# 對 class_list 進行排序
class_list.sort()
class_list

['Bob', 'Paul', 'Paul', 'Tracy']

In [34]:
# 遍歷整個class_list中的專案
print ('These students are:'),
for student in class_list:
  print(student, end=',')

These students are:
Bob,Paul,Paul,Tracy,

In [35]:
d = {
  'Adam': 95,
  'Lisa': 85,
  'Bart': 59
}
# 通過鍵來獲取值
print("Lisa's score is:", d['Adam'])

Lisa's score is: 95

In [37]:
del d['Bart']

KeyError: 'Bart'

In [38]:
d

{'Adam': 95, 'Lisa': 85}

In [41]:
# 遍歷字典
for a, b in d.items():
  print('{0} is {1}'.format(a, b))

Adam is 95
Lisa is 85

In [43]:
# 遍歷字典
for name, score in d.items():
  print(f'{name} is {score}')

Adam is 95
Lisa is 85

In [45]:
d.has_key('Paul')

AttributeError: 'dict' object has no attribute 'has_key'

In [48]:
if 'Paul' in d:
    d['Paul'] = 72
else:
    d['Paul'] = 72
    
d

{'Adam': 95, 'Lisa': 85, 'Paul': 72}

In [49]:
if 'Lisa' in d:
  print("Lisa's address is", d['Lisa'])

Lisa's address is 85

In [50]:
if 'Lisa' in d:
  print(f"Lisa's address is {d['Lisa']}" )

Lisa's address is 85

In [51]:
if 'Lisa' in d:
  print("Lisa's address is {}".format(d['Lisa']))

Lisa's address is 85